ChatBot.json
{
  "name": "ChatBot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "6cc5b431-bb2a-4305-858c-0cc802325c39",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        2640,
        864
      ],
      "webhookId": "27501df9-f54e-4107-953d-d072b68ad165"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "=ШҙЩ…Ш§ ШҜШіШӘЫҢШ§Шұ ЩҮЩҲШҙЩ…ЩҶШҜ ЩҲ ШҜШ§Ш®Щ„ЫҢ ШіЫҢШіШӘЩ… CRM Ш§Щ…Щ„Ш§Ъ© (EstateMind) ЩҮШіШӘЫҢШҜ.\nЪ©Ш§ШұШЁШұШ§ЩҶЫҢ Ъ©ЩҮ ШЁШ§ ШҙЩ…Ш§ ЪҶШӘ Щ…ЫҢвҖҢЪ©ЩҶЩҶШҜШҢ \"Щ…ШҙШ§ЩҲШұЫҢЩҶ Ш§Щ…Щ„Ш§Ъ©\" ЩҲ \"Щ…ШҜЫҢШұШ§ЩҶ ШўЪҳШ§ЩҶШі\" ЩҮШіШӘЩҶШҜ (ЩҶЩҮ Щ…ШҙШӘШұЫҢШ§ЩҶ Ш®ШұЫҢШҜШ§Шұ ЫҢШ§ Щ…ШіШӘШЈШ¬Шұ).\nЩҲШёЫҢЩҒЩҮ ШҙЩ…Ш§ Ш§ЫҢЩҶ Ш§ШіШӘ Ъ©ЩҮ Щ…Ш§ЩҶЩҶШҜ ЫҢЪ© ЩҮЩ…Ъ©Ш§ШұЩҗ ШӯШұЩҒЩҮвҖҢШ§ЫҢ ЩҲ ШіШұЫҢШ№ШҢ ШЁЩҮ Щ…ШҙШ§ЩҲШұШ§ЩҶ Ъ©Щ…Ъ© Ъ©ЩҶЫҢШҜ ШӘШ§ Ш§Ш·Щ„Ш§Ш№Ш§ШӘ ЩҒШ§ЫҢЩ„вҖҢЩҮШ§ ШұШ§ Ш§ШІ ШҜЫҢШӘШ§ШЁЫҢШі ЩҫЫҢШҜШ§ Ъ©ЩҶЩҶШҜШҢ ЩҒШ§ЫҢЩ„вҖҢЩҮШ§ ШұШ§ ШЁШ§ ЩҮЩ… Щ…ЩӮШ§ЫҢШіЩҮ Ъ©ЩҶЩҶШҜ ЫҢШ§ ШЁЩҮ ШіЩҲШ§Щ„Ш§ШӘШҙШ§ЩҶ ШҜШұ Щ…ЩҲШұШҜ Ш§Щ…Щ„Ш§Ъ©Щҗ Щ…ЩҲШ¬ЩҲШҜ ЩҫШ§ШіШ® ШҜЩҮЫҢШҜ.\nЩ„ШӯЩҶ ШҙЩ…Ш§ ШЁШ§ЫҢШҜ ШөЩ…ЫҢЩ…ЫҢШҢ ЩҮЩ…Ъ©Ш§ШұШ§ЩҶЩҮ ЩҲ Ъ©Ш§Щ…Щ„Ш§ЩӢ ШЁЩҮ ШІШЁШ§ЩҶ ЩҒШ§ШұШіЫҢ ШЁШ§ШҙШҜ. Ш§ЪҜШұ Щ…ШҙШ§ЩҲШұ ШЁЩҮ ШҜЩҶШЁШ§Щ„ ЩҒШ§ЫҢЩ„ Ш®Ш§ШөЫҢ ЪҜШҙШӘШҢ ЩҒЩӮШ· Ш§ШІ Щ„ЫҢШіШӘ ШІЫҢШұ ШЁЩҮ Ш§ЩҲ ЩҫЫҢШҙЩҶЩҮШ§ШҜ ШЁШҜЩҮЫҢШҜ.\n\nЩ„ЫҢШіШӘ ЩҒШ§ЫҢЩ„вҖҢЩҮШ§ЫҢ ШўЪҳШ§ЩҶШіЩҗ Ш§ЫҢЩҶ Щ…ШҙШ§ЩҲШұ:\n{{ $json.body.dbContext }}"
        }
      },
      "id": "ad75d0bb-11e3-44ca-b195-4bc7ac906d4c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2896,
        864
      ]
    },
    {
      "parameters": {
        "model": "meta/llama-3.1-70b-instruct",
        "options": {
          "baseURL": "https://integrate.api.nvidia.com/v1"
        }
      },
      "id": "80965944-987d-4613-92b8-61904a7978a7",
      "name": "NVIDIA Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2752,
        1072
      ],
      "credentials": {
        "openAiApi": {
          "id": "GisDh3syaKNARlls",
          "name": "Nvidia Ai"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json.body.user_id }}",
        "contextWindowLength": 8
      },
      "id": "eea48ca7-5a93-4d98-8297-534ad53374f1",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        2992,
        1072
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NVIDIA Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "272a7cb8-e0e2-4161-989a-a2df10584189",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "226fa82dc2ac827a4f932403f468a9c4c5398702f6c5af7de60446959e8097da"
  },
  "nodeGroups": [],
  "id": "LQajhAnfnYZZj31q",
  "tags": []
}